<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFamily1</servlet-name>
        <servlet-class>createFamily1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertFamilyServ</servlet-name>
        <servlet-class>insertFamilyServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBike</servlet-name>
        <servlet-class>searchBike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>createOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrder</servlet-name>
        <servlet-class>searchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLoginServ</servlet-name>
        <servlet-class>Login.CustLoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServ</servlet-name>
        <servlet-class>Login.AdminLoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLogoutServ</servlet-name>
        <servlet-class>Login.CustLogoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServ</servlet-name>
        <servlet-class>Login.AdminLogoutServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFamily1</servlet-name>
        <url-pattern>/createFamily1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertFamilyServ</servlet-name>
        <url-pattern>/insertFamilyServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBike</servlet-name>
        <url-pattern>/searchBike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrder</servlet-name>
        <url-pattern>/searchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLoginServ</servlet-name>
        <url-pattern>/CustLoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServ</servlet-name>
        <url-pattern>/AdminLoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLogoutServ</servlet-name>
        <url-pattern>/CustLogoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServ</servlet-name>
        <url-pattern>/AdminLogoutServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
